<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fuel Rats Case Jump Calculator</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../public/js/index.js"></script>

</head>
<body ng-app="FRJump" ng-controller="frjController">

    <div>
        <label for="jump-range">Jump Range: </label>
        <input type="number" ng-model="jumpRange" id="jump-range">
        <p><strong>Current System: </strong><span ng-bind="ratSystem"></span></p>
    </div>
    <ul>
        <li ng-repeat="case in cases">
            <p><strong>Board Index: </strong>#{{case.boardIndex}}</p>
            <p><strong>Client Name: </strong>{{case.clientNick}}</p>
            <p><strong>Client System: </strong>{{case.clientSystem}}</p>
            <p><strong>Distance To Client:  </strong>{{case.distance}}</p>
            <p><strong>Jumps To Client: </strong>{{case.jumps}}</p>
        </li>
    </ul>


</body>
</html>